
.control {
    float: left;
    margin: 1vh;
}
.control h1 {
    font-size: 10vh;
}
.btn-group1 {
    float: left;
}
.btn-group1 .button1 {
    background-color: coral;
    border: 1px solid black;
    margin-right: 2vh;
    font-size: 5vh;
    text-align: left;
    width: 15vh;
    overflow: hidden;
}
.btn-group1 .button2 {
    background-color: whitesmoke;
    border: 1px solid black;
    font-size: 5vh;
    text-align: left;
    width: 15vh;
    overflow: hidden;
}



